/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 @import '../common/style.scss';

.programs-search-quick-links {
    margin: 20px;
}
 
.programs-search-quick-links-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 20px;
    justify-content: center;

    li {
        margin: 0;

         a {
            font-size: var(--wp--preset--font-size--x-small);
         }
    }
}