/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

$input-border-color: red;

@use '~bootstrap/scss/bootstrap';


.areasContainer {
  padding-bottom: 3rem;
}

// MOVE TO UTKWDS

label {
  font-size: 1rem;
}

.utkwds-orange-bar-texture {
  height: 200px;
}

// END MOVE TO UTKWDS

@media screen and (min-width: 800px) {
  .areasContainer {
    flex-direction: row;
    margin: 0 auto;
  }
}

.programs-filters {
  
}

.programs-filters-stage {
  margin-top: -7.5rem;
  padding: 1.25rem 1.25rem 0;
  background: #fff;
}

@media screen and (min-width: 960px) {
  .programs-filters-stage {
    padding: 1.875rem 1.875rem 0;
  }
}

.programs-filters-fields {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media screen and (min-width: 960px) {
  .programs-filters-fields {
    grid-template-columns: repeat(4, 1fr) auto;
    align-items: center;
  }
}

// WIP
// @media screen and (min-width: 780px) {
//   .programs-filters-fields {
//     align-items: center;
//   }

//   .programs-filters-field {
//     &:first-child {
//       grid-column: span 5;
//     }
//   }
// }

// @media screen and (min-width: 960px) {
//   .programs-filters-fields {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }

// @media screen and (min-width: 1170px) {
//   .programs-filters-fields {
//     grid-template-columns: repeat(4, 1fr) auto;
//   }

//   .programs-filters-field {
//     &:first-child {
//       grid-column: inherit;
//     }
//   }
// }

.programs-filters-results {
  position: relative;
  margin-right: calc(var(--wp--style--root--padding-right) * -1);
  margin-bottom: 1.5rem;
  margin-left: calc(var(--wp--style--root--padding-left) * -1);
  border-top: 1px solid #d9d9d9;
}

@media screen and (min-width: 960px) {
  .programs-filters-results {
    padding: 0 0 3rem;
    border-top: none;
  }

  // .programs-filters-results:before {
  //   content: none;
  // }
}

@media screen and (min-width: 960px) {
  .programs-filters-results {
    margin: 0 auto 3rem;
  }
}

.online-tag {
  display: inline-flex;
  padding: 6px 10px 5px 8px;
  font-size: 13px;
  line-height: 1;
  /* Replace $font-size-sm */
  /* Substitute for $utsmokey */
  border: 1px solid #d9d9d9;
  border-radius: 20px;
}

.program-entry:nth-child(even) {
  background-color: #fbfbfb;
}

.programs-filters-headings {
  display: none;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  justify-items: start;
  align-items: start;
  margin: 0;
  padding: 1rem 1.875rem;
  border-bottom: 4px solid #FF8200;
}

@media screen and (min-width: 960px) {
  .programs-filters-headings {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 3fr));
    grid-column-gap: 3rem;
  }
}

h2.programs-filters-heading {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: var(--wp--preset--font-size--small);
  font-weight: 500;
  margin-bottom: 0;

  span {
    display: flex;
  }
}

.program-entry {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  margin: 0;
  padding: 30px;
  border-bottom: 1px solid #dadada;
}


@media screen and (min-width: 960px) {
  .program-entry {
    grid-template-columns: repeat(3, minmax(200px, 3fr));
    grid-column-gap: 3rem;
    padding: 3rem 2rem;
    margin: 0;
  }
}

.program-entry-block {
  &:last-child {
    padding-top: 15px;
    border-top: 1px solid #d9d9d9;
  }
}

@media screen and (min-width: 960px) {
  .program-entry-block {
    &:last-child {
      border-top: none;
    }
  }
}

.program-entry-label {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}

.program-entry-text {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.program-entry-link {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width: 960px) {
  .program-entry-label {
    display: none;
  }
}

.placeholder-list,
.concentration-list,
.area-list,
.college-list {
  font-size: 1rem;
  justify-self: stretch;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.degree-list {
  justify-self: stretch;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.placeholder-list li,
.degree-list li,
.concentration-list li,
.area-list li,
.college-list li {
  margin-left: 0;
}

// MOVE TO UTKWDS

.placeholder-list {
  color: #d9d9d9;

  .placeholder {
    min-height: 32px;
    border-radius: 4px;
  }
}

// END MOVE TO UTKWDS

.programs-container {
  @media screen and (min-width: 1170px) {
    // max-width: var(--wp--style--global--wide-size);
    margin: 0px auto;
    // padding: 0 20px;
  }
}

/* Default switch styles */
.form-check-input {
  width: 40px;
  height: 20px;
  background-color: #f6f6f6;
  /* Default background */
  border: 1px solid #949494;
  /* Default border */
  transition: background-color 0.3s, border-color 0.3s;

  // Switch ON style
  &:checked {
    background-color: #2171c2;
    border-color: #2171c2;
  }
}

.programs-filters-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px auto;
}

@media screen and (min-width: 960px) {
  .programs-filters-chips {
    min-height: 32px;
  }
}

.programs-filters-chip {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 32px;
  padding: 5px 7px 5px 11px;
  font-size: 0.813rem;
  border-radius: 20px;
  color: #fff;
  background: #4b4b4b;
  
  span {
    background: #fff;
    color: #4b4b4b;
    padding: 0 6px 2px;
    border-radius: 50px;
    margin-left: 5px;
    font-size: 0.8rem;
    vertical-align: text-bottom;
  }

  &:hover {
    background: #616161;
    cursor: pointer;

    span {
      color: #000;
    }
  }
}

#no-results {
  grid-column: 1/4;
  text-align: center;
  padding: 85px;
  background: #f6f6f6;

  h2 {
    font-weight: 900;
  }
}