/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 @import '../common/style.scss';

.areasContainer {
  padding-bottom: 3rem;
}

@media screen and (min-width: 800px) {
  .areasContainer {
    flex-direction: row;
    margin: 0 auto;
  }
}

// not sure why the !important is needed, but it doesn't work without it
.programs-filters {
  margin-top: -150px !important;
  background: #fff;
}

@media screen and (min-width: 960px) {
  .programs-filters-sticky {
    top: 0;
    z-index: 1;
    background: #fff;
    
    .admin-bar & {
      top: 32px;
    }

    &--fixed {
      position: sticky;

      .programs-filters-headings {
        padding-top: 20px;
      }
    }
  }
}

.programs-filters-fields {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 20px 20px 0;
  z-index: 2;
}

@media screen and (min-width: 960px) {
  .programs-filters-fields {
    grid-template-columns: repeat(4, 1fr) auto;
    align-items: center;
    padding: 30px 30px 0;
  }
}

.form-check {
  &.form-switch {
    padding-left: 64px;

    .form-check-input {
      width: 55px;
      height: 30px;
      margin-top: 0;
      margin-left: -64px;
    }
  }
}

.programs-filters-results {
  position: relative;
  margin: 40px calc(var(--wp--style--root--padding-right) * -1) 30px calc(var(--wp--style--root--padding-left) * -1);
  border-top: 1px solid #d9d9d9;
}

@media screen and (min-width: 960px) {
  .programs-filters-results {
    margin: 0;
    padding: 0 0 3rem;
    border-top: none;
  }
}

@media screen and (min-width: 960px) {
  .programs-filters-results {
    margin: 0 auto 3rem;
  }
}

.online-tag {
  display: inline-flex;
  padding: 6px 10px 5px 8px;
  font-size: 13px;
  line-height: 1;
  /* Replace $font-size-sm */
  /* Substitute for $utsmokey */
  background-color: #e8e8e8;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.program-entry:nth-child(even) {
  background-color: #fbfbfb;
}

.programs-filters-headings {
  display: none;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  justify-items: start;
  align-items: start;
  padding: 60px 30px 20px;
  border-bottom: 4px solid #FF8200;
  transition: padding 200ms;
}

@media screen and (min-width: 960px) {
  .programs-filters-headings {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 3fr));
    grid-column-gap: 3rem;
  }
}

h2.programs-filters-heading {
  display: flex;
  gap: 5px;
  margin: 0;
  align-items: center;
  font-size: var(--wp--preset--font-size--small);
  font-weight: 500;
  margin-bottom: 0;

  .tooltip-icon {
    display: flex;

    &:hover {
      opacity: 0.8;
    }
  }
}

.program-entry {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  margin: 0;
  padding: 30px;
  border-bottom: 1px solid #dadada;
}


@media screen and (min-width: 960px) {
  .program-entry {
    grid-template-columns: repeat(3, minmax(200px, 3fr));
    grid-column-gap: 3rem;
    padding: 3rem 2rem;
    margin: 0;
  }
}

.program-entry-label {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}

.program-entry-text {
  margin: 0;
  font-size: 18px;
}

.program-entry-text--bold {
  font-weight: 700;
}

@media screen and (min-width: 960px) {
  .program-entry-label {
    display: none;
  }
}

.placeholder-list,
.concentration-list,
.area-list,
.college-list {
  font-size: 1rem;
  justify-self: stretch;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.degree-list {
  justify-self: stretch;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.placeholder-list li,
.degree-list li,
.concentration-list li,
.area-list li,
.college-list li {
  margin-left: 0;
}

.programs-container {
  @media screen and (min-width: 1170px) {
    // max-width: var(--wp--style--global--wide-size);
    margin: 0px auto;
    // padding: 0 20px;
  }
}

.programs-filters-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto 10px;
  padding: 20px 20px 0;
}

@media screen and (min-width: 960px) {
  .programs-filters-chips {
    padding: 20px 30px 0;
  }
}

.programs-filters-chips + .programs-filters-headings {
  padding-top: 20px;
}

.programs-filters-chip {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 32px;
  padding: 5px 7px 5px 11px;
  font-family: var(--wp--preset--font-family--primary);
  font-size: 13px;
  border: none;
  border-radius: 20px;
  color: #fff;
  background-color: #1a73c5;

  &:focus,
  &:hover {
    outline: 0;
    background: #0056a5;
    box-shadow: 0 0 0 0.25rem rgba(26, 115, 197, 0.3);
    cursor: pointer;
  }

  span {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 960px) {
  .programs-filters-chip {
    span {
      max-width: 300px;
    }
  }
}

.programs-filters-no-results {
  padding: 85px;
  background: #f6f6f6;
  text-align: center;
}

.programs-filters-no-results-content {
  max-width: 750px;
  margin: 0 auto;
  
  h2 {
    font-weight: 900;
  }
}

.programs-back-to {
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  right: 20px;
  bottom: 20px;
  color: #fff;
  background-color: #1a73c5;
  border: none;
  border-radius: 4px;
  z-index: 1;

  &:hover {
    background-color: #0056a5;
  }

  svg {
    width: 28px;
    height: 28px;
  }
}